<section id="findUs" class="g-bg-gray-light-v5 g-py-100">
	<div class="container">
		<div class="row">
			<div class="col g-mb-25 g-mb-0--lg">
				<div class="text-center u-heading-v8-1 g-mb-35">
					<h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0">Where to <strong class="g-bg-blue-dark-v1 g-color-primary">find us</strong></h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-xs-12 g-mb-25 g-mb-0--lg">
				<h4 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-blue mb-10">Every Sunday from 9am-10am</h4>

				<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ4dkloGeF2EcR5NDzE7ciU3M&key=AIzaSyCKaVxbHBxHAvz3CW1koW23l84olXhvfbE" allowfullscreen></iframe>

			</div>

			<div class="col-md-2 g-mb-25 g-mb-0--lg">
				<h4 class="text-uppercase g-font-weight-700 g-font-size-26 g-color-blue mb-10">Address</h4>

				<address>
					Birchwood High School<br>
					Parsonage Lane<br>
					Bishop's Stortford<br>
					Hertfordshire, CM23 5BD
				</address>
			</div>
		</div>
	</div>
</section>
