<section id="fun" class="g-py-100">
	<div class="container g-max-width-800 text-center g-mb-60">
		<div class="text-center u-heading-v8-1 g-mb-35">
			<h2 class="h3 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 mb-0 g-color-blue">Come and join the
				<strong class="g-bg-blue-dark-v1 g-color-primary">fun!</strong></h2>
		</div>

		<p class="mb-10">Walking basketball is a low cardio impact, active team sport enjoyed by both men and women together, covering all ages and abilities.</p>

		<p class="mb-10">You don't have to be a Michael Jordon to enjoy a game. Many of our members last played basketball at school and some never at all! It's all about taking part, having a run (walk) around and getting some exercise in a friendly and social atmosphere.</p>

		<p class="mb-10">Stortford Strollers was formed in January 2016 when a group of parents and footballing friends were looking for an alternative to being a lab rat on a gym treadmill but unable, due to age or injury, to take part in highly competitive sport. Since then numbers have grown but we always welcome new members.</p>

		<p class="mb-10">If you can bounce and throw a ball you can join in!</p>
	</div>
</section>
