<section id="home">
	<div class="js-carousel"
				data-infinite="true"
				data-fade="true"
				data-speed="5000"
				data-pagi-classes="u-carousel-indicators-v1 g-absolute-centered--x g-bottom-30">
		<div class="js-slide u-bg-overlay g-color-white g-bg-blue2-opacity-0_5--after g-bg-img-hero" style="background-image: url(img/gallery/img2.jpg);">
			<div class="u-bg-overlay__inner g-flex-centered g-height-100vh g-min-height-600 g-py-40">
				<div class="container">
					<h2 class="h2 text-uppercase g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-color-white g-mb-40 g-bg-darkblue-opacity-0_7">Sessions currently suspended</h2>

					<h2 class="h2 text-uppercase g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-color-white g-mb-40"><strong class="g-font-weight-700er">Walking Basketball</strong><br><s>Come and join us</s></h2>

					<p class="g-max-width-800 g-color-white g-pa-20 g-bg-darkblue-opacity-0_7">Come and join in with an hour of low impact cardio sport. Learn some new skills and make some new friends. Men and women of all shapes and sizes welcome. 50+, recovering from injury or out of sport for a while? Walking basketball is the exercise for you!</p>
				</div>
			</div>
		</div>

		<div class="js-slide u-bg-overlay g-color-white g-bg-blue2-opacity-0_5--after g-bg-img-hero" style="background-image: url(img/gallery/img1.jpg);">
			<div class="u-bg-overlay__inner g-flex-centered g-height-100vh g-min-height-600 g-py-40">
				<div class="container">
					<h2 class="h2 text-uppercase g-line-height-1_2 g-letter-spacing-1 g-font-size-40 g-font-size-65--md g-color-white g-mb-40"><strong class="g-font-weight-700er">Walking Basketball</strong><br>Come and join us</h2>

					<p class="g-max-width-800 g-color-white g-pa-20 g-bg-darkblue-opacity-0_7">Come and join in with an hour of low impact cardio sport. Learn some new skills and make some new friends. Men and women of all shapes and sizes welcome. 50+, recovering from injury or out of sport for a while? Walking basketball is the exercise for you!</p>
				</div>
			</div>
		</div>
	</div>
</section>
